.main_box{
    display: flex;
        justify-content: center;
        align-items: center;
}

.main_box_text{
    text-decoration: none;
}

.sec_box{
        display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            border: 1px solid;
}

.description{
    display: flex;
        align-items: center;
        height: 50px;
        width: 50%;
}

.heading{
display: flex;
    align-items: center;
    height: 50px;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
}

.description_sec {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title{
    height: 40px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
}

.divider{
height: 1px;
    width: 50%;
    background: black;
}